body {
    background-image: url("LiuXing.jpg");
}

div#center_div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 90%;
    border-radius: 20px;
    background-color: #FFFFFF;
}

div#center_div h1 {
    font-family: "FangSong";
    text-align: center;
}

div#center_div div#options_div {
    position: absolute;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 80%;
}

div#center_div div#options_div button.options {
    width: 50%;
    background-color: #4e98fd;
    border-color: #FFFFFF;
    border-width: 3px;
    border-radius: 50px;
    font-family: "FangSong";
}